<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bokamarkadur">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustResize">
        <activity android:name=".Activities.WriteReviewActivity"></activity>
        <activity android:name=".Activities.ReviewActivity" />
        <activity android:name=".Activities.ViewMyReviewsActivity" />
        <activity android:name=".Activities.ViewMyReceivedReviewsActivity" />
        <activity
            android:name=".Activities.UserInfoActivity"
            android:label="@string/title_activity_user_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.ViewProfileActivity"
            android:label="@string/title_activity_user_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.MenuActivity"
            android:theme="@style/MenuTheme" />
        <activity
            android:name=".Activities.AboutusActivity"
            android:theme="@style/AboutusTheme" />
        <activity android:name=".Activities.BookBySubjectActivity" />
        <activity
            android:name=".Activities.ViewBookActivity"
            android:theme="@style/AboutusTheme" />
        <activity
            android:name=".Activities.AllBooksActivity"
            android:theme="@style/AllBookTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.NewestBooksActivity"
            android:theme="@style/AllBookTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.RequestBookActivity"
            android:theme="@style/AboutusTheme" />
        <activity
            android:name=".Activities.AddBookForSaleActivity"
            android:theme="@style/AboutusTheme"
            android:layout_centerVertical="true"
            />
        <activity
            android:name=".Activities.RegisterActivity"
            android:theme="@style/AboutusTheme"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".Activities.LoginActivity"
            android:theme="@style/AboutusTheme" />
        <activity
            android:name=".Splashscreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MainActivity"
            android:theme="@style/AboutusTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>